GW2MarkerPack.dtd

<!ELEMENT OverlayData (MarkerCategory, POIs)>
<!ELEMENT MarkerCategory (MarkerCategory*)>
<!ELEMENT POIs (POI|Trail)*>
<!ELEMENT POI EMPTY>
<!ELEMENT Trail EMPTY>

<!ATTLIST MarkerCategory name CDATA #REQUIRED>
<!ATTLIST MarkerCategory DisplayName CDATA #REQUIRED>
<!ATTLIST MarkerCategory achievementId CDATA #IMPLIED>
<!ATTLIST MarkerCategory achievementBit CDATA #IMPLIED>
<!ATTLIST MarkerCategory alpha CDATA #IMPLIED>
<!ATTLIST MarkerCategory animSpeed CDATA #IMPLIED>
<!ATTLIST MarkerCategory autoTrigger CDATA #IMPLIED>
<!ATTLIST MarkerCategory behavior CDATA #IMPLIED>
<!ATTLIST MarkerCategory bounce (bounce|rise) #IMPLIED>
<!ATTLIST MarkerCategory bounce-height CDATA #IMPLIED>
<!ATTLIST MarkerCategory bounce-duration CDATA #IMPLIED>
<!ATTLIST MarkerCategory bounce-delay CDATA #IMPLIED>
<!ATTLIST MarkerCategory canfade (0|1) #IMPLIED>
<!ATTLIST MarkerCategory color CDATA #IMPLIED>
<!ATTLIST MarkerCategory copy CDATA #IMPLIED>
<!ATTLIST MarkerCategory copy-message CDATA #IMPLIED>
<!ATTLIST MarkerCategory cull (None|Clockwise|CounterClockwise) #IMPLIED>
<!ATTLIST MarkerCategory defaulttoggle (0|1) #IMPLIED>
<!ATTLIST MarkerCategory fadeNear CDATA #IMPLIED>
<!ATTLIST MarkerCategory fadeFar CDATA #IMPLIED>
<!ATTLIST MarkerCategory festival CDATA #IMPLIED>
<!ATTLIST MarkerCategory heightOffset CDATA #IMPLIED>
<!ATTLIST MarkerCategory iconFile CDATA #IMPLIED>
<!ATTLIST MarkerCategory iconSize CDATA #IMPLIED>
<!ATTLIST MarkerCategory info CDATA #IMPLIED>
<!ATTLIST MarkerCategory infoRange CDATA #IMPLIED>
<!ATTLIST MarkerCategory invertBehavior (0|1) #IMPLIED>
<!ATTLIST MarkerCategory isseparator (0|1) #IMPLIED>
<!ATTLIST MarkerCategory mapDisplaySize CDATA #IMPLIED>
<!ATTLIST MarkerCategory maptype CDATA #IMPLIED>
<!ATTLIST MarkerCategory mount CDATA #IMPLIED>
<!ATTLIST MarkerCategory profession CDATA #IMPLIED>
<!ATTLIST MarkerCategory race CDATA #IMPLIED>
<!ATTLIST MarkerCategory resetLength CDATA #IMPLIED>
<!ATTLIST MarkerCategory rotate CDATA #IMPLIED>
<!ATTLIST MarkerCategory rotate-x CDATA #IMPLIED>
<!ATTLIST MarkerCategory rotate-y CDATA #IMPLIED>
<!ATTLIST MarkerCategory rotate-z CDATA #IMPLIED>
<!ATTLIST MarkerCategory scaleOnMapWithZoom (0|1) #IMPLIED>
<!ATTLIST MarkerCategory schedule CDATA #IMPLIED>
<!ATTLIST MarkerCategory schedule-duration CDATA #IMPLIED>
<!ATTLIST MarkerCategory show CDATA #IMPLIED>
<!ATTLIST MarkerCategory hide CDATA #IMPLIED>
<!ATTLIST MarkerCategory minSize CDATA #IMPLIED>
<!ATTLIST MarkerCategory maxSize CDATA #IMPLIED>
<!ATTLIST MarkerCategory specialization CDATA #IMPLIED>
<!ATTLIST MarkerCategory texture CDATA #IMPLIED>
<!ATTLIST MarkerCategory tip-name CDATA #IMPLIED>
<!ATTLIST MarkerCategory tip-description CDATA #IMPLIED>
<!ATTLIST MarkerCategory toggle CDATA #IMPLIED>
<!ATTLIST MarkerCategory trailScale CDATA #IMPLIED>
<!ATTLIST MarkerCategory triggerRange CDATA #IMPLIED>
<!ATTLIST MarkerCategory type CDATA #IMPLIED>
<!ATTLIST MarkerCategory miniMapVisibility CDATA #IMPLIED>
<!ATTLIST MarkerCategory mapVisibility CDATA #IMPLIED>
<!ATTLIST MarkerCategory inGameVisibility CDATA #IMPLIED>
<!ATTLIST MarkerCategory iswall CDATA #IMPLIED>
<!ATTLIST MarkerCategory script-tick CDATA #IMPLIED>
<!ATTLIST MarkerCategory script-focus CDATA #IMPLIED>
<!ATTLIST MarkerCategory script-trigger CDATA #IMPLIED>
<!ATTLIST MarkerCategory script-filter CDATA #IMPLIED>
<!ATTLIST MarkerCategory script-once CDATA #IMPLIED>

<!ATTLIST MarkerCategory bh-achievementId CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-achievementBit CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-alpha CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-animSpeed CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-autoTrigger CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-behavior CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-bounce (bounce|rise) #IMPLIED>
<!ATTLIST MarkerCategory bh-bounce-height CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-bounce-duration CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-bounce-delay CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-canfade (0|1) #IMPLIED>
<!ATTLIST MarkerCategory bh-color CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-copy CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-copy-message CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-cull (None|Clockwise|CounterClockwise) #IMPLIED>
<!ATTLIST MarkerCategory bh-defaulttoggle (0|1) #IMPLIED>
<!ATTLIST MarkerCategory bh-fadeNear CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-fadeFar CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-festival CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-heightOffset CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-iconFile CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-iconSize CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-info CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-infoRange CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-invertBehavior (0|1) #IMPLIED>
<!ATTLIST MarkerCategory bh-isseparator (0|1) #IMPLIED>
<!ATTLIST MarkerCategory bh-mapDisplaySize CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-maptype CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-mount CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-profession CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-race CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-resetLength CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-rotate CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-rotate-x CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-rotate-y CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-rotate-z CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-scaleOnMapWithZoom (0|1) #IMPLIED>
<!ATTLIST MarkerCategory bh-schedule CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-schedule-duration CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-show CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-hide CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-minSize CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-maxSize CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-specialization CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-texture CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-tip-name CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-tip-description CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-toggle CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-trailScale CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-triggerRange CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-type CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-miniMapVisibility CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-mapVisibility CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-inGameVisibility CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-iswall CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-script-tick CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-script-focus CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-script-trigger CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-script-filter CDATA #IMPLIED>
<!ATTLIST MarkerCategory bh-script-once CDATA #IMPLIED>



<!ATTLIST POI MapID CDATA #REQUIRED>
<!ATTLIST POI xpos CDATA #REQUIRED>
<!ATTLIST POI ypos CDATA #REQUIRED>
<!ATTLIST POI zpos CDATA #REQUIRED>
<!ATTLIST POI type CDATA #REQUIRED>
<!ATTLIST POI GUID CDATA #REQUIRED>
<!ATTLIST POI achievementId CDATA #IMPLIED>
<!ATTLIST POI achievementBit CDATA #IMPLIED>
<!ATTLIST POI alpha CDATA #IMPLIED>
<!ATTLIST POI animSpeed CDATA #IMPLIED>
<!ATTLIST POI autoTrigger CDATA #IMPLIED>
<!ATTLIST POI behavior CDATA #IMPLIED>
<!ATTLIST POI bounce (bounce|rise) #IMPLIED>
<!ATTLIST POI bounce-height CDATA #IMPLIED>
<!ATTLIST POI bounce-duration CDATA #IMPLIED>
<!ATTLIST POI bounce-delay CDATA #IMPLIED>
<!ATTLIST POI canfade (0|1) #IMPLIED>
<!ATTLIST POI color CDATA #IMPLIED>
<!ATTLIST POI copy CDATA #IMPLIED>
<!ATTLIST POI copy-message CDATA #IMPLIED>
<!ATTLIST POI cull (None|Clockwise|CounterClockwise) #IMPLIED>
<!ATTLIST POI defaulttoggle (0|1) #IMPLIED>
<!ATTLIST POI fadeNear CDATA #IMPLIED>
<!ATTLIST POI fadeFar CDATA #IMPLIED>
<!ATTLIST POI festival CDATA #IMPLIED>
<!ATTLIST POI heightOffset CDATA #IMPLIED>
<!ATTLIST POI iconFile CDATA #IMPLIED>
<!ATTLIST POI iconSize CDATA #IMPLIED>
<!ATTLIST POI info CDATA #IMPLIED>
<!ATTLIST POI infoRange CDATA #IMPLIED>
<!ATTLIST POI invertBehavior (0|1) #IMPLIED>
<!ATTLIST POI isseparator (0|1) #IMPLIED>
<!ATTLIST POI mapDisplaySize CDATA #IMPLIED>
<!ATTLIST POI maptype CDATA #IMPLIED>
<!ATTLIST POI mount CDATA #IMPLIED>
<!ATTLIST POI profession CDATA #IMPLIED>
<!ATTLIST POI race CDATA #IMPLIED>
<!ATTLIST POI resetLength CDATA #IMPLIED>
<!ATTLIST POI rotate CDATA #IMPLIED>
<!ATTLIST POI rotate-x CDATA #IMPLIED>
<!ATTLIST POI rotate-y CDATA #IMPLIED>
<!ATTLIST POI rotate-z CDATA #IMPLIED>
<!ATTLIST POI scaleOnMapWithZoom (0|1) #IMPLIED>
<!ATTLIST POI schedule CDATA #IMPLIED>
<!ATTLIST POI schedule-duration CDATA #IMPLIED>
<!ATTLIST POI show CDATA #IMPLIED>
<!ATTLIST POI hide CDATA #IMPLIED>
<!ATTLIST POI minSize CDATA #IMPLIED>
<!ATTLIST POI maxSize CDATA #IMPLIED>
<!ATTLIST POI specialization CDATA #IMPLIED>
<!ATTLIST POI texture CDATA #IMPLIED>
<!ATTLIST POI tip-name CDATA #IMPLIED>
<!ATTLIST POI tip-description CDATA #IMPLIED>
<!ATTLIST POI toggle CDATA #IMPLIED>
<!ATTLIST POI trailScale CDATA #IMPLIED>
<!ATTLIST POI triggerRange CDATA #IMPLIED>
<!ATTLIST POI type CDATA #IMPLIED>
<!ATTLIST POI miniMapVisibility CDATA #IMPLIED>
<!ATTLIST POI mapVisibility CDATA #IMPLIED>
<!ATTLIST POI inGameVisibility CDATA #IMPLIED>
<!ATTLIST POI iswall CDATA #IMPLIED>
<!ATTLIST POI script-tick CDATA #IMPLIED>
<!ATTLIST POI script-focus CDATA #IMPLIED>
<!ATTLIST POI script-trigger CDATA #IMPLIED>
<!ATTLIST POI script-filter CDATA #IMPLIED>
<!ATTLIST POI script-once CDATA #IMPLIED>

<!ATTLIST POI bh-achievementId CDATA #IMPLIED>
<!ATTLIST POI bh-achievementBit CDATA #IMPLIED>
<!ATTLIST POI bh-alpha CDATA #IMPLIED>
<!ATTLIST POI bh-animSpeed CDATA #IMPLIED>
<!ATTLIST POI bh-autoTrigger CDATA #IMPLIED>
<!ATTLIST POI bh-behavior CDATA #IMPLIED>
<!ATTLIST POI bh-bounce (bounce|rise) #IMPLIED>
<!ATTLIST POI bh-bounce-height CDATA #IMPLIED>
<!ATTLIST POI bh-bounce-duration CDATA #IMPLIED>
<!ATTLIST POI bh-bounce-delay CDATA #IMPLIED>
<!ATTLIST POI bh-canfade (0|1) #IMPLIED>
<!ATTLIST POI bh-color CDATA #IMPLIED>
<!ATTLIST POI bh-copy CDATA #IMPLIED>
<!ATTLIST POI bh-copy-message CDATA #IMPLIED>
<!ATTLIST POI bh-cull (None|Clockwise|CounterClockwise) #IMPLIED>
<!ATTLIST POI bh-defaulttoggle (0|1) #IMPLIED>
<!ATTLIST POI bh-fadeNear CDATA #IMPLIED>
<!ATTLIST POI bh-fadeFar CDATA #IMPLIED>
<!ATTLIST POI bh-festival CDATA #IMPLIED>
<!ATTLIST POI bh-heightOffset CDATA #IMPLIED>
<!ATTLIST POI bh-iconFile CDATA #IMPLIED>
<!ATTLIST POI bh-iconSize CDATA #IMPLIED>
<!ATTLIST POI bh-info CDATA #IMPLIED>
<!ATTLIST POI bh-infoRange CDATA #IMPLIED>
<!ATTLIST POI bh-invertBehavior (0|1) #IMPLIED>
<!ATTLIST POI bh-isseparator (0|1) #IMPLIED>
<!ATTLIST POI bh-mapDisplaySize CDATA #IMPLIED>
<!ATTLIST POI bh-maptype CDATA #IMPLIED>
<!ATTLIST POI bh-mount CDATA #IMPLIED>
<!ATTLIST POI bh-profession CDATA #IMPLIED>
<!ATTLIST POI bh-race CDATA #IMPLIED>
<!ATTLIST POI bh-resetLength CDATA #IMPLIED>
<!ATTLIST POI bh-rotate CDATA #IMPLIED>
<!ATTLIST POI bh-rotate-x CDATA #IMPLIED>
<!ATTLIST POI bh-rotate-y CDATA #IMPLIED>
<!ATTLIST POI bh-rotate-z CDATA #IMPLIED>
<!ATTLIST POI bh-scaleOnMapWithZoom (0|1) #IMPLIED>
<!ATTLIST POI bh-schedule CDATA #IMPLIED>
<!ATTLIST POI bh-schedule-duration CDATA #IMPLIED>
<!ATTLIST POI bh-show CDATA #IMPLIED>
<!ATTLIST POI bh-hide CDATA #IMPLIED>
<!ATTLIST POI bh-minSize CDATA #IMPLIED>
<!ATTLIST POI bh-maxSize CDATA #IMPLIED>
<!ATTLIST POI bh-specialization CDATA #IMPLIED>
<!ATTLIST POI bh-texture CDATA #IMPLIED>
<!ATTLIST POI bh-tip-name CDATA #IMPLIED>
<!ATTLIST POI bh-tip-description CDATA #IMPLIED>
<!ATTLIST POI bh-toggle CDATA #IMPLIED>
<!ATTLIST POI bh-trailScale CDATA #IMPLIED>
<!ATTLIST POI bh-triggerRange CDATA #IMPLIED>
<!ATTLIST POI bh-type CDATA #IMPLIED>
<!ATTLIST POI bh-miniMapVisibility CDATA #IMPLIED>
<!ATTLIST POI bh-mapVisibility CDATA #IMPLIED>
<!ATTLIST POI bh-inGameVisibility CDATA #IMPLIED>
<!ATTLIST POI bh-iswall CDATA #IMPLIED>
<!ATTLIST POI bh-script-tick CDATA #IMPLIED>
<!ATTLIST POI bh-script-focus CDATA #IMPLIED>
<!ATTLIST POI bh-script-trigger CDATA #IMPLIED>
<!ATTLIST POI bh-script-filter CDATA #IMPLIED>
<!ATTLIST POI bh-script-once CDATA #IMPLIED>



<!ATTLIST Trail type CDATA #REQUIRED>
<!ATTLIST Trail trailData CDATA #REQUIRED>
<!ATTLIST Trail achievementId CDATA #IMPLIED>
<!ATTLIST Trail achievementBit CDATA #IMPLIED>
<!ATTLIST Trail alpha CDATA #IMPLIED>
<!ATTLIST Trail animSpeed CDATA #IMPLIED>
<!ATTLIST Trail autoTrigger CDATA #IMPLIED>
<!ATTLIST Trail behavior CDATA #IMPLIED>
<!ATTLIST Trail bounce (bounce|rise) #IMPLIED>
<!ATTLIST Trail bounce-height CDATA #IMPLIED>
<!ATTLIST Trail bounce-duration CDATA #IMPLIED>
<!ATTLIST Trail bounce-delay CDATA #IMPLIED>
<!ATTLIST Trail canfade (0|1) #IMPLIED>
<!ATTLIST Trail color CDATA #IMPLIED>
<!ATTLIST Trail copy CDATA #IMPLIED>
<!ATTLIST Trail copy-message CDATA #IMPLIED>
<!ATTLIST Trail cull (None|Clockwise|CounterClockwise) #IMPLIED>
<!ATTLIST Trail defaulttoggle (0|1) #IMPLIED>
<!ATTLIST Trail fadeNear CDATA #IMPLIED>
<!ATTLIST Trail fadeFar CDATA #IMPLIED>
<!ATTLIST Trail festival CDATA #IMPLIED>
<!ATTLIST Trail heightOffset CDATA #IMPLIED>
<!ATTLIST Trail iconFile CDATA #IMPLIED>
<!ATTLIST Trail iconSize CDATA #IMPLIED>
<!ATTLIST Trail info CDATA #IMPLIED>
<!ATTLIST Trail infoRange CDATA #IMPLIED>
<!ATTLIST Trail invertBehavior (0|1) #IMPLIED>
<!ATTLIST Trail isseparator (0|1) #IMPLIED>
<!ATTLIST Trail mapDisplaySize CDATA #IMPLIED>
<!ATTLIST Trail maptype CDATA #IMPLIED>
<!ATTLIST Trail mount CDATA #IMPLIED>
<!ATTLIST Trail profession CDATA #IMPLIED>
<!ATTLIST Trail race CDATA #IMPLIED>
<!ATTLIST Trail resetLength CDATA #IMPLIED>
<!ATTLIST Trail rotate CDATA #IMPLIED>
<!ATTLIST Trail rotate-x CDATA #IMPLIED>
<!ATTLIST Trail rotate-y CDATA #IMPLIED>
<!ATTLIST Trail rotate-z CDATA #IMPLIED>
<!ATTLIST Trail scaleOnMapWithZoom (0|1) #IMPLIED>
<!ATTLIST Trail schedule CDATA #IMPLIED>
<!ATTLIST Trail schedule-duration CDATA #IMPLIED>
<!ATTLIST Trail show CDATA #IMPLIED>
<!ATTLIST Trail hide CDATA #IMPLIED>
<!ATTLIST Trail minSize CDATA #IMPLIED>
<!ATTLIST Trail maxSize CDATA #IMPLIED>
<!ATTLIST Trail specialization CDATA #IMPLIED>
<!ATTLIST Trail texture CDATA #IMPLIED>
<!ATTLIST Trail tip-name CDATA #IMPLIED>
<!ATTLIST Trail tip-description CDATA #IMPLIED>
<!ATTLIST Trail toggle CDATA #IMPLIED>
<!ATTLIST Trail trailScale CDATA #IMPLIED>
<!ATTLIST Trail triggerRange CDATA #IMPLIED>
<!ATTLIST Trail type CDATA #IMPLIED>
<!ATTLIST Trail miniMapVisibility CDATA #IMPLIED>
<!ATTLIST Trail mapVisibility CDATA #IMPLIED>
<!ATTLIST Trail inGameVisibility CDATA #IMPLIED>
<!ATTLIST Trail iswall CDATA #IMPLIED>
<!ATTLIST Trail script-tick CDATA #IMPLIED>
<!ATTLIST Trail script-focus CDATA #IMPLIED>
<!ATTLIST Trail script-trigger CDATA #IMPLIED>
<!ATTLIST Trail script-filter CDATA #IMPLIED>
<!ATTLIST Trail script-once CDATA #IMPLIED>

<!ATTLIST Trail bh-achievementId CDATA #IMPLIED>
<!ATTLIST Trail bh-achievementBit CDATA #IMPLIED>
<!ATTLIST Trail bh-alpha CDATA #IMPLIED>
<!ATTLIST Trail bh-animSpeed CDATA #IMPLIED>
<!ATTLIST Trail bh-autoTrigger CDATA #IMPLIED>
<!ATTLIST Trail bh-behavior CDATA #IMPLIED>
<!ATTLIST Trail bh-bounce (bounce|rise) #IMPLIED>
<!ATTLIST Trail bh-bounce-height CDATA #IMPLIED>
<!ATTLIST Trail bh-bounce-duration CDATA #IMPLIED>
<!ATTLIST Trail bh-bounce-delay CDATA #IMPLIED>
<!ATTLIST Trail bh-canfade (0|1) #IMPLIED>
<!ATTLIST Trail bh-color CDATA #IMPLIED>
<!ATTLIST Trail bh-copy CDATA #IMPLIED>
<!ATTLIST Trail bh-copy-message CDATA #IMPLIED>
<!ATTLIST Trail bh-cull (None|Clockwise|CounterClockwise) #IMPLIED>
<!ATTLIST Trail bh-defaulttoggle (0|1) #IMPLIED>
<!ATTLIST Trail bh-fadeNear CDATA #IMPLIED>
<!ATTLIST Trail bh-fadeFar CDATA #IMPLIED>
<!ATTLIST Trail bh-festival CDATA #IMPLIED>
<!ATTLIST Trail bh-heightOffset CDATA #IMPLIED>
<!ATTLIST Trail bh-iconFile CDATA #IMPLIED>
<!ATTLIST Trail bh-iconSize CDATA #IMPLIED>
<!ATTLIST Trail bh-info CDATA #IMPLIED>
<!ATTLIST Trail bh-infoRange CDATA #IMPLIED>
<!ATTLIST Trail bh-invertBehavior (0|1) #IMPLIED>
<!ATTLIST Trail bh-isseparator (0|1) #IMPLIED>
<!ATTLIST Trail bh-mapDisplaySize CDATA #IMPLIED>
<!ATTLIST Trail bh-maptype CDATA #IMPLIED>
<!ATTLIST Trail bh-mount CDATA #IMPLIED>
<!ATTLIST Trail bh-profession CDATA #IMPLIED>
<!ATTLIST Trail bh-race CDATA #IMPLIED>
<!ATTLIST Trail bh-resetLength CDATA #IMPLIED>
<!ATTLIST Trail bh-scaleOnMapWithZoom (0|1) #IMPLIED>
<!ATTLIST Trail bh-schedule CDATA #IMPLIED>
<!ATTLIST Trail bh-schedule-duration CDATA #IMPLIED>
<!ATTLIST Trail bh-show CDATA #IMPLIED>
<!ATTLIST Trail bh-hide CDATA #IMPLIED>
<!ATTLIST Trail bh-minSize CDATA #IMPLIED>
<!ATTLIST Trail bh-maxSize CDATA #IMPLIED>
<!ATTLIST Trail bh-specialization CDATA #IMPLIED>
<!ATTLIST Trail bh-texture CDATA #IMPLIED>
<!ATTLIST Trail bh-tip-name CDATA #IMPLIED>
<!ATTLIST Trail bh-tip-description CDATA #IMPLIED>
<!ATTLIST Trail bh-toggle CDATA #IMPLIED>
<!ATTLIST Trail bh-trailScale CDATA #IMPLIED>
<!ATTLIST Trail bh-triggerRange CDATA #IMPLIED>
<!ATTLIST Trail bh-type CDATA #IMPLIED>
<!ATTLIST Trail bh-miniMapVisibility CDATA #IMPLIED>
<!ATTLIST Trail bh-mapVisibility CDATA #IMPLIED>
<!ATTLIST Trail bh-inGameVisibility CDATA #IMPLIED>
<!ATTLIST Trail bh-iswall CDATA #IMPLIED>
<!ATTLIST Trail bh-script-tick CDATA #IMPLIED>
<!ATTLIST Trail bh-script-focus CDATA #IMPLIED>
<!ATTLIST Trail bh-script-trigger CDATA #IMPLIED>
<!ATTLIST Trail bh-script-filter CDATA #IMPLIED>
<!ATTLIST Trail bh-script-once CDATA #IMPLIED>